.success-outer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.success-text {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Yeseva One', cursive;
    margin-top: 5%;
    width: 80%;
    text-align: center;
}

.success-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5%;
    column-gap: 5%;
    margin-top: 5%;
    margin-bottom: 20%;
    width: 80%;
}


@media only screen and (max-width: 1500px) {
    .success-text {
        color: white;
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .success-text {
        color: white;
        font-size: 2rem;
    }

    .success-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 80%;
    }
}


@media only screen and (max-width: 600px) {
    .success-text {
        color: white;
        font-size: 1.5rem;
    }

    .success-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .success-text {
        color: white;
        font-size: 1.25rem;
    }

    .success-grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 100rem;
        row-gap: 3%;
    }
}

@media only screen and (max-width: 450px) {
    .success-text {
        color: white;
        font-size: 1.25rem;
    }

    .success-grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 85rem;
        row-gap: 3%;
    }
}

@media only screen and (max-width: 400px) {
    .success-text {
        color: white;
        font-size: 1rem;
    }
    .success-grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 75rem;
        row-gap: 3%;
    }
}

@media only screen and (max-width: 350px) {
    .success-text {
        color: white;
        font-size: 1rem;
    }
    .success-grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 65rem;
        row-gap: 3%;
    }
}
@media only screen and (max-width: 300px) {
    .success-text {
        color: white;
        font-size: 1rem;
    }
    .success-grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 55rem;
        row-gap: 3%;
    }
}