@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.project-outer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-grid {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.project-grid-element {
    color: white;
    border: 1px solid #7E7E7E;
    /* padding: 2%; */
    width: 30%;
    border-radius: 0.5rem;
    cursor: pointer;

}

.project-grid-img {
    width: 100%;
}

.project-img {
    width: 100%;
}

.project-grid-title {
    font-size: 2rem;
    font-weight: 500;
    color: #BC312E;
    margin-top: 2%;
    font-family: 'Yeseva One', cursive;
    padding: 2%;
}

.project-grid-text {
    font-size: 1.25rem;
    font-weight: 400;
    color: #7E7E7E;
    margin-top: 2%;
    padding: 2%;

}

.project-grid-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2%;
}

.project-grid-bottom-text {
    font-size: 1rem;
    font-weight: 500;
    color: #7E7E7E;
    margin-top: 3%;
}

@media only screen and (max-width: 1660px) {
    .project-grid-title {
        font-size: 1.75rem;
    }

    .project-grid-text {
        font-size: 1.25rem;
    }

    .project-grid-bottom-text {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1350px) {
    .project-grid-title {
        font-size: 1.75rem;
    }

    .project-grid-text {
        font-size: 1.25rem;
    }

    .project-grid-bottom-text {
        font-size: 1rem;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-grid-element {
        width: 50%;
        margin-bottom: 5%;

    }
}

@media only screen and (max-width: 1000px) {
    .project-grid-title {
        font-size: 1.75rem;
    }

    .project-grid-text {
        font-size: 1.25rem;
    }

    .project-grid-bottom-text {
        font-size: 1rem;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-grid-element {
        width: 70%;
        margin-bottom: 5%;

    }
}

@media only screen and (max-width: 700px) {
    .project-grid-title {
        font-size: 1.5rem;
    }

    .project-grid-text {
        font-size: 1rem;
    }

    .project-grid-bottom-text {
        font-size: 0.8rem;
        text-align: center;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-grid-element {
        width: 80%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 500px) {
    .project-grid-title {
        font-size: 1.25rem;
    }

    .project-grid-text {
        font-size: 0.8rem;
    }

    .project-grid-bottom-text {
        font-size: 0.6rem;
        text-align: center;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-grid-element {
        width: 80%;
        margin-bottom: 5%;
    }
}