@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.grid-outer {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
}

.grid-structure {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.grid-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
}

.grid-left {
    display: flex;
    width: 43%;
    justify-content: center;
    align-items: center;
}

.grid-img {
    width: 100%;
}

.grid-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

}

.grid-title {
    display: flex;
    /* align-items: flex-end; */
    /* margin-right: -15%; */
    width: fit-content;

}

.grid-title-capital {
    font-size: 5rem;
    font-weight: 500;
    width: fit-content;
    color: #BC312E;
    font-family: 'Yeseva One', cursive;
    opacity: 0.4;
    height: fit-content;
    align-items: flex-start;
    transform: scale(3);
}

.grid-title-text {
    font-size: 4rem;
    font-weight: 500;
    /* width: 80%; */
    color: #BC312E;
    font-family: 'Yeseva One', cursive;
    margin-left: -5%;
    margin-bottom: -8%;
    align-items: flex-end;
    display: flex;
}



.grid-right-content {
    font-size: 2rem;
    color: #C6C6C6;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media only screen and (max-width: 3000px) {
    .grid-title-capital {
        transform: scale(2.5);
    }

    .grid-title-text {
        font-size: 3rem;
        margin-left: -7%;
        margin-bottom: -3%;
    }

    .grid-right-content {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1700px) {
    .grid-title-capital {
        transform: scale(2.5);
    }

    .grid-title-text {
        font-size: 2.5rem;
        margin-left: -7%;
        margin-bottom: -3%;
    }

    .grid-right-content {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1600px) {
    .grid-title-capital {
        transform: scale(2.5);
    }

    .grid-title-text {
        font-size: 2.5rem;
        margin-left: -7%;
        margin-bottom: -3%;
    }

    .grid-right-content {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1300px) {
    .grid-title-capital {
        transform: scale(2);
    }

    .grid-title-text {
        font-size: 2.20rem;
        margin-left: -7%;
        margin-bottom: -3%;
    }

    .grid-right-content {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1100px) {
    .grid-title-capital {
        transform: scale(2);
    }

    .grid-title-text {
        font-size: 1.9rem;
        margin-left: -7%;
        margin-bottom: -3%;
    }

    .grid-right-content {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .grid-title-capital {
        transform: scale(2);
    }

    .grid-title-text {
        font-size: 3rem;
        margin-left: -7%;
        margin-bottom: -3%;
    }

    .grid-right-content {
        font-size: 1.5rem;
    }

    .grid-left {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .grid-img {
        width: 70%;
    }
}


@media only screen and (max-width: 800px) {
    .grid-title-capital {
        transform: scale(1.5);
    }

    .grid-title-text {
        font-size: 2rem;
        margin-left: -7%;
        margin-bottom: -0.25%;
    }

    .grid-right-content {
        font-size: 1.25rem;
    }

    .grid-left {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .grid-img {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .grid-title-capital {
        transform: scale(1.25);
    }

    .grid-title-text {
        font-size: 1.5rem;
        margin-left: -7%;
        margin-bottom: 5%;
    }

    .grid-right-content {
        font-size: 1rem;
    }

    .grid-left {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .grid-img {
        width: 70%;
    }
}

@media only screen and (max-width: 400px) {
    .grid-title-capital {
        transform: scale(1);
    }

    .grid-title-text {
        font-size: 1.25rem;
        margin-left: -10%;
        margin-bottom: 10%;
    }

    .grid-right-content {
        font-size: 0.8rem;
    }

    .grid-left {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .grid-img {
        width: 70%;
    }
}


@media only screen and (max-width: 350px) {
    .grid-title-capital {
        transform: scale(1);
    }

    .grid-title-text {
        font-size: 1.1rem;
        margin-left: -10%;
        margin-bottom: 10%;
    }

    .grid-right-content {
        font-size: 0.8rem;
    }

    .grid-left {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .grid-img {
        width: 70%;
    }
}
