@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.industries-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

.industries-title {
    font-size: 4rem;
    font-weight: 500;
    color: white;
    font-family: 'Yeseva One', cursive;
    /* border-bottom: 3px solid white; */
    margin-top: 3%;
}

.industries-component {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

@media only screen and (max-width: 1500px) {
    .industries-title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1000px) {
    .industries-title {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 700px) {
    .industries-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .industries-title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .industries-title {
        font-size: 1.25rem;
    }
}