.other-outer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.other-grid {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.other-grid-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20rem;
    margin: 2%;
    cursor: pointer;
}

